# DS-SF-25 | Exploratory Data Analysis on Kaggle's Shelter Animal Outcomes Dataset | Ivan's Notebook

(dataset from https://www.kaggle.com/c/shelter-animal-outcomes)

In [1]:
import os

import numpy as np

import pandas as pd
pd.set_option('display.max_rows', 25)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import re

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'shelter-animal-outcomes.csv.gz'), index_col = 'AnimalID')

In [3]:
df

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White
A668402,NaN,2013-12-05 15:50:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Black
A666320,NaN,2013-11-04 14:48:00,Adoption,NaN,Dog,Spayed Female,2 years,Miniature Schnauzer Mix,Silver
...,...,...,...,...,...,...,...,...,...
A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black
A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor
A707871,NaN,2015-07-20 09:00:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Brown Tabby/White
A704405,Brownie,2015-07-18 14:08:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby
A662019,Green Bean,2014-07-17 09:43:00,Adoption,Foster,Cat,Spayed Female,5 years,Domestic Shorthair Mix,Black
A687056,NaN,2014-08-31 09:00:00,Transfer,SCRP,Cat,Intact Male,5 months,Domestic Shorthair Mix,Orange Tabby
A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White
A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [4]:
df.shape

(26729, 9)

In [5]:
df.columns

Index([u'Name', u'DateTime', u'OutcomeType', u'OutcomeSubtype', u'AnimalType',
       u'SexuponOutcome', u'AgeuponOutcome', u'Breed', u'Color'],
      dtype='object')

## `Name`

In [6]:
df.Name.unique()

array(['Hambone', 'Emily', 'Pearce', ..., 'Mowmow', 'Sonja', 'Green Bean'], dtype=object)

In [7]:
df.Name.value_counts()

Max            136
Bella          135
Charlie        107
Daisy          106
Lucy            94
Buddy           87
Princess        86
Rocky           85
Luna            68
Jack            66
Lola            61
Sadie           58
              ...
Guru Ramdas      1
Mr.Cookie        1
Tabs             1
Eedo             1
Marlyin          1
Meerkat          1
Tugga            1
Sally Jessy      1
Nelda            1
Hobie Cat        1
Madi             1
Sumi             1
Name: Name, dtype: int64

> By default, `value_counts()` doesn't include counts of `NaN`.

In [8]:
df.Name.value_counts(dropna = False)

NaN            7691
Max             136
Bella           135
Charlie         107
Daisy           106
Lucy             94
Buddy            87
Princess         86
Rocky            85
Luna             68
Jack             66
Lola             61
               ...
Mr.Cookie         1
Tabs              1
Eedo              1
Marlyin           1
Meerkat           1
Tugga             1
Sally Jessy       1
Nelda             1
Hobie Cat         1
Madi              1
Moscato           1
Sumi              1
Name: Name, dtype: int64

## `DateTime`

In [90]:
df.DateTime

DateTime=pd.to_datetime(DateTime)

# df['Month']=df.DateTime.month

#  Won't return a new column because it comes up as a series of time objects. 


# df.DateTime.apply(lambda x:x.month)

df['month']=df.DateTime.apply(lambda x:x.month) # x is a time object and will have the month method

NameError: name 'DateTime' is not defined

In [10]:
df.DateTime[-1]  

# last ob in series

'2015-07-02 09:00:00'

In [11]:
type(df.DateTime[-1])

str

> `DateTime` is composed of strings.

In [12]:
datetime_as_string = '2015-07-02 09:00:00'

> Let's convert these strings into a Date/Time format we can easily query.

In [13]:
datetime_as_timestamp = pd.to_datetime(datetime_as_string)

In [14]:
datetime_as_timestamp

Timestamp('2015-07-02 09:00:00')

In [15]:
type(datetime_as_timestamp)

pandas.tslib.Timestamp

In [16]:
datetime_as_timestamp.year

2015

In [17]:
datetime_as_timestamp.month

7

In [ ]:
datetime_as_timestamp.day

In [ ]:
datetime_as_timestamp.hour

In [ ]:
datetime_as_timestamp.minute

In [ ]:
datetime_as_timestamp.second

In [ ]:
pd.to_datetime(df.DateTime)

In [87]:
df.DateTime = pd.to_datetime(df.DateTime)

In [88]:
df.DateTime[-1]

Timestamp('2015-07-02 09:00:00')

In [89]:
type(df.DateTime[-1])

pandas.tslib.Timestamp

## `OutcomeType` and `OutcomeSubtype`

### `OutcomeType`

In [19]:
df.OutcomeType

AnimalID
A671945    Return_to_owner
A656520         Euthanasia
A686464           Adoption
A683430           Transfer
A667013           Transfer
A677334           Transfer
A699218           Transfer
A701489           Transfer
A671784           Adoption
A677747           Adoption
A668402           Transfer
A666320           Adoption
                ...
A519949    Return_to_owner
A701044           Adoption
A707871           Transfer
A704405           Adoption
A662019           Adoption
A687056           Transfer
A716997           Adoption
A702446           Transfer
A718934           Transfer
A698128           Adoption
A677478           Transfer
A706629           Transfer
Name: OutcomeType, dtype: object

In [20]:
df.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [21]:
df.OutcomeType.value_counts()

# Tab by column

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

> To illustrate the use of `apply`, let's convert every occurrence of 'Return_to_owner' or 'ReturnToOwner'.

In [22]:
df.OutcomeType = df.OutcomeType.\
    apply(lambda outcome_type: 'ReturnToOwner' if outcome_type == 'Return_to_owner' else outcome_type)
    
    
# Lambda functions are anonymous functions. Don't need to be called by name and can be used wherever a function is expected.

# Fillna to fill null values

In [23]:
df.OutcomeType.value_counts()

Adoption         10769
Transfer          9422
ReturnToOwner     4786
Euthanasia        1555
Died               197
Name: OutcomeType, dtype: int64

> Instead of using a `lambda` function (for short expressions), we could have called an already defined function.

In [24]:
def process_outcome_type(outcome_type):
    if outcome_type == 'Return_to_owner':
        return 'ReturnToOwner'
    else:
        return outcome_type

df.OutcomeType = df.OutcomeType.\
    apply(process_outcome_type)

### OutcomeSubtype

In [25]:
df.OutcomeSubtype.unique()

array([nan, 'Suffering', 'Foster', 'Partner', 'Offsite', 'SCRP',
       'Aggressive', 'Behavior', 'Rabies Risk', 'Medical', 'In Kennel',
       'In Foster', 'Barn', 'Court/Investigation', 'Enroute', 'At Vet',
       'In Surgery'], dtype=object)

> What if we want to remove the spaces and other special characters in the different values?

In [26]:
'In Kennel'.translate(None, ' ')

'InKennel'

In [27]:
'Court/Investigation'.translate(None, ' ')

'Court/Investigation'

In [28]:
'Court/Investigation'.translate(None, '/')

'CourtInvestigation'

In [ ]:
'Court/Investigation'.translate(None, '/ ')

In [ ]:
'In Kennel'.translate(None, '/ ')

In [29]:
def process_outcome_subtype(outcome_subtype):
    if pd.isnull(outcome_subtype):
        return np.nan

    return outcome_subtype.translate(None, '/ ')

df.OutcomeSubtype = df.OutcomeSubtype.apply(process_outcome_subtype)


# COnverts to numpy null value where null.

In [30]:
df.OutcomeSubtype.unique()

array([nan, 'Suffering', 'Foster', 'Partner', 'Offsite', 'SCRP',
       'Aggressive', 'Behavior', 'RabiesRisk', 'Medical', 'InKennel',
       'InFoster', 'Barn', 'CourtInvestigation', 'Enroute', 'AtVet',
       'InSurgery'], dtype=object)

### OutcomeType and OutcomeSubtype

In [31]:
pd.crosstab(df.OutcomeSubtype, df.OutcomeType, margins = True)

OutcomeType         Adoption  Died  Euthanasia  Transfer    All
OutcomeSubtype
Aggressive                 0     0         320         0    320
AtVet                      0     4           0         0      4
Barn                       1     0           0         1      2
Behavior                   0     0          86         0     86
CourtInvestigation         0     0           6         0      6
Enroute                    0     8           0         0      8
Foster                  1800     0           0         0   1800
InFoster                   0    52           0         0     52
InKennel                   0   114           0         0    114
InSurgery                  0     3           0         0      3
Medical                    0     0          66         0     66
Offsite                  165     0           0         0    165
Partner                    0     0           0      7816   7816
RabiesRisk                 0     0          74         0     74
SCRP                       0     0           0      1599   1599
Suffering                  0     0        1002         0   1002
All                    10769   197        1555      9422  26729

> By default, `crosstab()` doesn't include counts of `NaN`.

In [35]:
pd.crosstab(df.OutcomeSubtype, df.OutcomeType, dropna = False, margins = True)

KeyError: 'Level None not found'

> The totals are correct but the `NaN` don't have their own rows.

## `AnimalType`

In [40]:
df.AnimalType.value_counts(dropna = False)

Dog    15595
Cat    11134
Name: AnimalType, dtype: int64

## `SexuponOutcome`

In [41]:
df.SexuponOutcome.unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown', nan], dtype=object)

> Let's convert the 'Unknown' to `NaN`.

In [42]:
df.SexuponOutcome = df.SexuponOutcome.\
    apply(lambda sex_upon_outcome: np.nan if sex_upon_outcome == 'Unknown' else sex_upon_outcome)

In [43]:
df.SexuponOutcome.unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       nan], dtype=object)

> How to find substrings:

In [44]:
'Intact' in 'Intact Male'

True

In [ ]:
'Male' in 'Intact Male'

In [ ]:
'Male ' in 'Intact Male'

In [45]:
is_male = 'Male' in df.SexuponOutcome

In [46]:
is_male

False

In [47]:
df.SexuponOutcome

AnimalID
A671945    Neutered Male
A656520    Spayed Female
A686464    Neutered Male
A683430      Intact Male
A667013    Neutered Male
A677334    Intact Female
A699218      Intact Male
A701489              NaN
A671784    Spayed Female
A677747    Spayed Female
A668402              NaN
A666320    Spayed Female
               ...
A519949    Spayed Female
A701044    Neutered Male
A707871              NaN
A704405    Spayed Female
A662019    Spayed Female
A687056      Intact Male
A716997    Neutered Male
A702446      Intact Male
A718934    Spayed Female
A698128    Neutered Male
A677478      Intact Male
A706629      Intact Male
Name: SexuponOutcome, dtype: object

In [48]:
is_male = df.SexuponOutcome.apply(lambda sex_upon_outcome: pd.notnull(sex_upon_outcome) and ('Male' in sex_upon_outcome))

In [49]:
is_male

AnimalID
A671945     True
A656520    False
A686464     True
A683430     True
A667013     True
A677334    False
A699218     True
A701489    False
A671784    False
A677747    False
A668402    False
A666320    False
           ...
A519949    False
A701044     True
A707871    False
A704405    False
A662019    False
A687056     True
A716997     True
A702446     True
A718934    False
A698128     True
A677478     True
A706629     True
Name: SexuponOutcome, dtype: bool

In [50]:
is_female = df.SexuponOutcome.apply(lambda sex_upon_outcome: pd.notnull(sex_upon_outcome) and ('Female' in sex_upon_outcome))

In [52]:
df['Sex'] = np.nan


df['Sex']

AnimalID
A671945   NaN
A656520   NaN
A686464   NaN
A683430   NaN
A667013   NaN
A677334   NaN
A699218   NaN
A701489   NaN
A671784   NaN
A677747   NaN
A668402   NaN
A666320   NaN
           ..
A519949   NaN
A701044   NaN
A707871   NaN
A704405   NaN
A662019   NaN
A687056   NaN
A716997   NaN
A702446   NaN
A718934   NaN
A698128   NaN
A677478   NaN
A706629   NaN
Name: Sex, dtype: float64

In [53]:
df.Sex.value_counts(dropna = False)

NaN    26729
Name: Sex, dtype: int64

In [54]:
df.loc[is_male, 'Sex'] = 'Male'

In [55]:
df.Sex.value_counts(dropna = False)

NaN     13425
Male    13304
Name: Sex, dtype: int64

In [56]:
df.loc[is_female, 'Sex'] = 'Female'

In [57]:
df.Sex.value_counts(dropna = False)

Male      13304
Female    12331
NaN        1094
Name: Sex, dtype: int64

In [ ]:
is_neutered = df.SexuponOutcome.apply(lambda sex_upon_outcome: pd.notnull(sex_upon_outcome) and ('Neutered' in sex_upon_outcome))
is_spayed = df.SexuponOutcome.apply(lambda sex_upon_outcome: pd.notnull(sex_upon_outcome) and ('Spayed' in sex_upon_outcome))

df['Sterilized'] = np.nan

df.loc[is_male, 'Sterilized'] = False
df.loc[is_female, 'Sterilized'] = False

df.loc[is_neutered, 'Sterilized'] = True
df.loc[is_spayed, 'Sterilized'] = True

In [ ]:
df.Sterilized.value_counts(dropna = False)

In [ ]:
df.SexuponOutcome.value_counts()

In [ ]:
((df.Sex == 'Male') & df.Sterilized).sum()

In [ ]:
((df.Sex == 'Female') & df.Sterilized).sum()

In [ ]:
((df.Sex == 'Male') & (df.Sterilized == False)).sum()

In [ ]:
((df.Sex == 'Female') & (df.Sterilized == False)).sum()

In [ ]:
df.Sex.isnull().sum()

In [ ]:
df.Sterilized.isnull().sum()

In [ ]:
df.drop('SexuponOutcome', axis = 1, inplace = True)

# axis=0 is row # axis=1 is column

## `AgeuponOutcome`

In [ ]:
df.AgeuponOutcome.unique()

### One way to do it...

In [ ]:
age_upon_outcome = '1 year'

In [ ]:
(value, unit) = age_upon_outcome.split()

In [ ]:
print 'value =', value
print 'unit  =', unit

In [ ]:
def process_age_upcon_outcome(age_upon_outcome):
    if pd.isnull(age_upon_outcome):
        return np.nan

    (value, unit) = age_upon_outcome.split()
    value = float(value)

    if 'day' in unit:
        return value
    elif 'week' in unit:
        return value * 7
    elif 'month' in unit:
        return value * 30.5
    elif 'year' in unit:
        return value * 365.25
    else:
        raise Exception('No match for {}'.format(unit))

df['AgeuponOutcome_1'] = df.AgeuponOutcome.apply(process_age_upcon_outcome)

### Another way to do it (a bit more complex and overkill here but more powerful and more flexible)...

In [58]:
age_upon_outcome = '1 year'

In [62]:
match = re.search(r'(\d) year', age_upon_outcome)

match

In [63]:
match.group(1)

'1'

In [64]:
def print_age_upcon_outcome(age_upon_outcome):
    match = re.search(r'(\d) year', age_upon_outcome)
    if match:
        value_in_years = match.group(1)
        print 'We have a match in years:', value_in_years
    else:
        print 'We have no match for "{}"'.format(age_upon_outcome)

In [65]:
print_age_upcon_outcome('1 year')

We have a match in years: 1

In [66]:
print_age_upcon_outcome('2 years')

We have a match in years: 2

In [67]:
print_age_upcon_outcome('12 years')

We have a match in years: 2

In [68]:
def print_age_upcon_outcome(age_upon_outcome):
    match = re.search(r'(\d+) year', age_upon_outcome)
    if match:
        value_in_years = match.group(1)
        print 'We have a match in years:', value_in_years
    else:
        print 'We have no match for "{}"'.format(age_upon_outcome)

In [69]:
print_age_upcon_outcome('1 year')
print_age_upcon_outcome('2 years')
print_age_upcon_outcome('12 years')

We have a match in years: 1
We have a match in years: 2
We have a match in years: 12

In [70]:
print_age_upcon_outcome('1 month')
print_age_upcon_outcome('3 weeks')

We have no match for "1 month"
We have no match for "3 weeks"

In [71]:
def print_age_upcon_outcome(age_upon_outcome):
    match = re.search(r'(\d+) (\S+)', age_upon_outcome)
    if match:
        value = match.group(1)
        unit = match.group(2)
        print 'We have a match in {}: {}'.format(unit, value)
    else:
        print 'We have no match for "{}"'.format(age_upon_outcome)

In [72]:
print_age_upcon_outcome('1 year')
print_age_upcon_outcome('2 years')
print_age_upcon_outcome('12 years')
print_age_upcon_outcome('1 month')
print_age_upcon_outcome('3 weeks')

We have a match in year: 1
We have a match in years: 2
We have a match in years: 12
We have a match in month: 1
We have a match in weeks: 3

In [73]:
def print_age_upcon_outcome(age_upon_outcome):
    match = re.search(r'(\d+) (\S+[^s])', age_upon_outcome)
    if match:
        value = match.group(1)
        unit = match.group(2)
        print 'We have a match in {}: {}'.format(unit, value)
    else:
        print 'We have no match for "{}"'.format(age_upon_outcome)

In [ ]:
print_age_upcon_outcome('1 year')
print_age_upcon_outcome('2 years')
print_age_upcon_outcome('12 years')
print_age_upcon_outcome('1 month')
print_age_upcon_outcome('3 weeks')

In [ ]:
def print_age_upcon_outcome(age_upon_outcome):
    match = re.search(r'^(\d+) (\S+[^s])s?$', age_upon_outcome)
    if match:
        value = match.group(1)
        unit = match.group(2)
        print 'We have a match in {}: {}'.format(unit, value)
    else:
        raise Exception('No match for "{}"'.format(age_upon_outcome))

In [ ]:
print_age_upcon_outcome('1 year')
print_age_upcon_outcome('2 years')
print_age_upcon_outcome('12 years')
print_age_upcon_outcome('1 month')
print_age_upcon_outcome('3 weeks')

In [ ]:
def process_age_upcon_outcome(age_upon_outcome):
    if pd.isnull(age_upon_outcome):
        return np.nan

    match = re.search(r'^(\d+) (\S+[^s])s?$', age_upon_outcome)
    if not match:
        raise Exception('No match for "{}"'.format(age_upon_outcome))

    value = float(match.group(1))
    unit = match.group(2)

    if unit == 'day':
        return value
    elif unit == 'week':
        return value * 7
    elif unit == 'month':
        return value * 30.5
    elif unit == 'year':
        return value * 365.25
    else:
        raise Exception('No match for {}'.format(unit))

df['AgeuponOutcome_2'] = df.AgeuponOutcome.apply(process_age_upcon_outcome)

## `Breed`

In [ ]:
df.Breed.unique().shape

In [ ]:
df.Breed.value_counts(dropna = False)

In [ ]:
df.Breed.unique().shape

That's a lot of breeds to consider.  What would do you next?

## `Color`

In [ ]:
df.Color.unique()

In [ ]:
df.Color.unique().shape

There's also a lot of colors to consider.  How could you handle them?